js: home

.hidden
  %h1
    Home

:markdown
  # About Us
  We are a club team at Carnegie Mellon University. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id mauris placerat nunc elementum tempus et a libero. Pellentesque pretium blandit leo eget congue. Curabitur laoreet enim sit amet nisi lobortis rutrum.

%hr.in-col

:markdown
  # Join Our Team
  You don't need any real experience to play, but a little bit of experience playing ice or inline helps.

.two-col-box

  .two-col
    :markdown
      ## Practice Info
      Practives are held every Tuesday, 9-10 pm at  <a class="dialog-link" dialog="1">Bladerunners Ice Complex</a>. Cars leave Morewood at 8pm.
    
    .dialog{:dialog => '1', :title => 'Bladerunners Ice Complex'}
      <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=5000+Forbes+Avenue,+Pittsburgh,+PA+15213&amp;daddr=bladerunners+ice+complex&amp;hl=en&amp;geocode=FQUhaQId1ik8-yEpADoaPekY8A%3BFQGXagIdOtE9-yFnJCVHQmxRcA&amp;sll=40.491517,-79.889013&amp;sspn=0.14047,0.258865&amp;vpsrc=0&amp;mra=pd&amp;ie=UTF8&amp;ll=40.49161,-79.889145&amp;spn=0.09517,0.10849&amp;t=m&amp;output=embed"></iframe>
      :markdown
        [Full Map](http://maps.google.com/maps?saddr=5000+Forbes+Avenue,+Pittsburgh,+PA+15213&daddr=bladerunners+ice+complex&hl=en&ll=40.492132,-79.888802&spn=0.140469,0.258865&sll=40.491517,-79.889013&sspn=0.14047,0.258865&geocode=FQUhaQId1ik8-yEpADoaPekY8A%3BFQGXagIdOtE9-yFnJCVHQmxRcA&vpsrc=0&mra=pd&t=m&z=12)  |  [Blade Runners Website](http://www.bladerunnersice.com/harmarville_home.asp)

    :markdown
      ## Game Info
      We play games at <a class="dialog-link" dialog="2">RMU Island Sports Center</a> against other Pittsburgh area schools. See [Schedule](schedule) for more info.

    .dialog{:dialog => '2', :title => 'RMU Island Sports Center'}
      <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?saddr=5000+Forbes+Avenue,+Pittsburgh,+PA+15213+(Carnegie+Mellon+University)&amp;daddr=rmu+island+sports+center&amp;hl=en&amp;sll=40.481152,-80.04696&amp;sspn=0.137097,0.228996&amp;geocode=FfkcaQIdcio8-yH2gEo4dEex-Q%3BFQZGagId5_g4-yEFhvbB1G_KlylLrL7AN140iDGpDSwtbWgWKQ&amp;vpsrc=0&amp;mra=pd&amp;t=m&amp;ie=UTF8&amp;ll=40.463928,-80.048447&amp;spn=0.137132,0.228996&amp;output=embed"></iframe>
      :markdown
        [Full Map](http://g.co/maps/emvjw)  |  [RMU Sports Complex Website](http://www.rmu.edu/web/cms/isc/pages/default.aspx)

    %h2
      Dues
    %p
      Player dues generally run around $150 for league fees, practice time, jerseys, pucks, etc. Drivers are compensated for gas.

  .two-col
    :markdown
      ## Equipment
      * Stick
      * Hockey Skates
      * Helmet
      * Shin Pads
      * Cup
      * Elbow Pads (Recommended)
      * Mouthguard (Recommended)
      * Inline Pants (Recommended)
      * “Indoor” Whels (Recommended)

      <a class='dialog-link' dialog='3'>Where Can I get Equipment?</a>

    .dialog{:dialog => '3', :title => 'Where to get Equipment'}
      :markdown
        ## Local
        [Dick's Sporting Goods, Waterfront]()
        [House of Hockey, Aspinwall]()

        ## Online
        [Hockeymonkey.com]()
      
 
  .clear

%button#join-button.dialog-link{:dialog => '3'}
  Join Email List

.dialog.email-list{:dialog => '3', :title => 'Join our Mailing List'}
  <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dDY1R0pkYno3bDRUZXZKUnY0ZHlpMWc6MQ" height="665" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>


:markdown
  Questions before you join? [Email Us](mailto:email@andrew)

