Title: Roster

/%section.articles= article_summaries(latest_articles)
/Template

%h1
  Roster

%h2
  Forwards

%p
  - roster.get_by_position('F').each do |player|
    = player.number + ' - ' + player.full_name
    </br>
  
%h2
  Defencemen

%p
  - roster.get_by_position('D').each do |player|
    = player.number + ' - ' + player.full_name
    </br>

%h2
  Goalies

%p
  - roster.get_by_position('G').each do |player|
    = player.number + ' - ' + player.full_name
    </br>
