/%section.articles= article_summaries(latest_articles)
/Template

%h1
  Schedule

%p
  - get_schedule.each do |game|
    = game.opponent
    </br>
    
/.sidebar-row{ :class => ('bold' if game.playoff?)}
