/%section.articles= article_summaries(latest_articles)
/Template

%h1
  Schedule

- get_schedule.each do |game|
  .sidebar-row{ :class => ('bold' if game.playoff?)}
    .date
      = game.game_time.strftime("%b %d")
    .name
      = (game.home? ? "" : "@")+ game.opponent
    .time-result
      = (game.upcoming? ? game.game_time.strftime('%h:%M%p') : game.result_string)
    .clear
